@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-dark: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-cta-background-color: #3882F6;
    --info-header-text: #1F2937;
    --quote-background-color: #E5E7EB;
    --quote-text: #1F2937;
}